<p-table [value]="news" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Heading</th>
            <th>Description</th>
            <th>Source</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Published Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-newss>
        <tr>
            <td>{{newss?.heading}}</td>
            <td>{{newss?.description}}</td>
            <td>{{newss?.source}}</td>
            <td>{{newss?.status}}</td>
            <td>{{newss?.createdDate}}</td>
            <td>{{newss?.publishedDate}}</td>
        </tr>
    </ng-template>
</p-table>
