<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Election Form</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">Sample Form with the Icons</h4>
                <h6 class="card-subtitle">made with bootstrap elements</h6>

                <form class="form p-t-20" novalidate *ngIf="election" (ngSubmit)="save()" [formGroup]="electionEditForm">
                    <div class="form-group">
                        <label for="electionTitle">Election Title</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input class="form-control" id="electionTitle" type="text" formControlName="electionTitle" placeholder="electionTitle">
                        </div>
                    </div>
                    

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                      
                </form>
                
            </div>
        </div>
        </div>
    </div>
