<p-table [value]="profile" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>ProfileId</th> -->
            <th>Name</th>
            <th>Age</th>
            <!-- <th>Gender</th> -->
            <th>FatherName</th>
            <!-- <th>SpouseName</th> -->
            <!-- <th>GuardianName</th> -->
            <!-- <th>Address</th> -->
            <th>Picture</th>
            <th>ConstituencyId</th>
            <th>AffiliatedPoliticalPartyId</th>
            <!-- <th>ProfileTypeId</th> -->
            <th>Phone1</th>
            <!-- <th>Phone2</th> -->
            <th>Email</th>
            <!-- <th>Whatsapp</th> -->
            <!-- <th>FacebookUrl</th> -->
            <!-- <th>TwitterUrl</th> -->
            <!-- <th>MediaPresence</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pr>
        <tr>
            <!-- <td></td> -->
            <td>a</td>
            <td>c</td>
            <!-- <td>d</td> -->
            <td>e</td>
            <!-- <td>f</td> -->
            <!-- <td>f</td> -->
            <!-- <td>f</td> -->
            <td>f</td>
            <td>f</td>
            <td>f</td>
            <!-- <td>f</td> -->
            <td>f</td>
            <!-- <td>f</td> -->
            <td>f</td>
            <!-- <td>f</td> -->
            <!-- <td>f</td> -->
            <!-- <td>f</td> -->
            <!-- <td>f</td> -->

        </tr>
    </ng-template>
</p-table>

