<div class="row">
 <div class="col-lg-12">

        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Event Form</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">Sample Form with the Icons</h4>
                <h6 class="card-subtitle">made with bootstrap elements</h6>
                <form class="form p-t-20" novalidate (ngSubmit)="save()" [formGroup]="eventEditForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input class="form-control" id="name" type="text" formControlName="name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <textarea rows="5" cols="5" class="form-control" formControlName="description" placeholder="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="area">Area</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="area" placeholder="Area" type="text" formControlName="area">
                        </div>
                    </div>
					<div class="form-group">
                        <label for="venue">Venue</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="venue" placeholder="Venue" type="text" formControlName="venue">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="heldon">Held On</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="heldon" placeholder="heldon" formControlName="heldon" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="agenda">Agenda</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="agenda" formControlName="agenda" placeholder="Agenda" type="text">
                        </div>
                    </div>
					<div class="form-group">
                        <label for="organizerProfileId">Organizer</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="organizerProfileId" formControlName="organizerProfileId" placeholder="Organizer" type="text">
                        </div>
                    </div><div class="form-group">
                        <label for="chiefGuestProfileId">Chief Guest</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="chiefGuestProfileId" formControlName="chiefGuestProfileId" placeholder="chiefGuestProfileId" type="text">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
        
</div>
    </div>
<!--                        <p-calendar id="publishedDate" class="form-control" formControlName="publishedDate" dateFormat="mm/dd/yy" ></p-calendar>-->