<p-table [value]="constituency" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>Serail No</th> -->
            <th>Name</th>
            <!-- <th>ConstituencyType</th> -->
            <th>Title</th>
            <th>Map</th>
            <!-- <th>Area</th> -->
            <th>City</th>
            <!-- <th>District</th> -->
            <th>Province</th>
            <th>ECP Const code</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-consti >
        <tr>
            <!-- <td>{{consti?.constituencyId}}</td> -->
            <td>{{consti?.constituencyName}}</td>
            <!-- <td>{{consti?.constituencyTypeId}}</td> -->
            <td>{{consti?.constitencyTitle}}</td>
            <td>{{consti?.mapId}}</td>
            <!-- <td>{{consti?.areaId}}</td> -->
            <td>{{consti?.cityId}}</td>
            <!-- <td>{{consti?.districtId}}</td> -->
            <td>{{consti?.provinceId}}</td>
            <td>{{consti?.ecpConstCode}}</td>
            <td><a href="#" [routerLink]="['/constituency-edit']" 
					[queryParams]="{Id:consti?.constituencyId}">Edit</a>
			&nbsp;
			<a href="#">Delete</a></td>
            
        </tr>
    </ng-template>
</p-table>

