<!DOCTYPE html>
<html lang="en" class="wow-animation">
<head>
    <!-- Site Title -->
    <title>Electionhawk</title>
    <meta charset="utf-8" />
    <meta name="author" content="Nadeem">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="Election Campaign Management System, any kind of Election Campaign, Election Campaign 2018, " />
    <meta name="keywords" content="Election, Parliament Election, Institutional Election, Local Government Election, Trade Union Election, Volunteer, Voting, Election Management, Software,  Election Campaign Election2018, Lahore , Karachi, Islamabad, Pakistan election,
          Event Management, Campaign Analysis, Bulk SMS for Voters and Volunteers, SMS, SMS Campaign, best SMS Campaign, free SMS Campaign" />
    <!-- FAV icon -->
    <link rel="shortcut icon" href="~/Neon/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Neon/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Neon/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Neon/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Neon/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Neon/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Neon/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Neon/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Neon/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Neon/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/Neon/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Neon/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Neon/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/Neon/img/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="~/Neon/img/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="~/Neon/img/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="~/Neon/img/widetile.png" />
    <meta name="msapplication-square310x310logo" content="~/Neon/img/largetile.png" />

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CPoppins:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/Neon/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Neon/css/style.css">
    <link rel="stylesheet" href="~/Neon/css/style-color-1.css">

</head>
<body>
    <div id="page-preloader">
        <div class="contpre">
            <div class="loader"></div>
        </div>
    </div>
    <!-- The Main Wrapper -->
    <div class="main-wrapper">

        <div>
            @RenderBody()
        </div>

        </div>
    <!--/////////////////////////// FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <footer id="footer" class="main-footer all-light shape-3">
        <div class="container">
            <img src="~/Neon/img/logo.png" width="200" height="70" alt="">
            <div class="flex-it">
                <p>©2017 App, All rights reserved.</p>
                <ul class="list-inline">
                    <li><a href="#" class="icon fa fa-facebook"></a></li>
                    <li><a href="#" class="icon fa fa-twitter"></a></li>
                    <li><a href="#" class="icon fa fa-instagram"></a></li>
                </ul>
            </div>
        </div>
        <span class="shape-after"></span>
        <img src="~/Neon/img/shape-01.png" alt="">
    </footer>
    <!-- Core Scripts -->
    <script src="~/Neon/js/minified.js"></script>

    <!-- Additional Functionality Scripts -->
    <script src="~/Neon/js/main.js"></script>

        @RenderSection("scripts", required: false)
</body>
</html>