<div class="row">
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Getting start info</h4>
        <p class="text-muted m-t-0 font-12"></p>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <!--<div class="card-header" style="background-color: #333; border-color: #333;">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>-->
            <div class="card-body">
                <h3 class="card-title">How to Sign up?</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse card-info">
            <!--<div class="card-header card-info">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>-->
            <div class="card-body">
                <h3 class="card-title">How to Sign in?</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse card-primary">
            <!--<div class="card-header card-primary">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>-->
            <div class="card-body">
                <h3 class="card-title">Special News info</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse card-danger">
            <!--<div class="card-header info">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>-->
            <div class="card-body">
                <h3 class="card-title">Price or terms and conditions</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-inverse card-success">
            <!--<div class="card-header">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>-->
            <div class="card-body">
                <h3 class="card-title">How to update subscription?</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-inverse card-warning">
            <!--<div class="card-warning card-header">
                <h4 class="m-b-0 text-white card-warning">Card Title</h4>
            </div>-->
            <div class="card-body">
                <h3 class="card-title">Forgot Password?</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

