<p-table [value]="agenda" [paginator]="true" [rows]="10" >
    <ng-template pTemplate="header">
        <tr>
    
            <th>Id</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-agend>
            <tr>
                <td>{{agend?.itemId}}</td>
                <td>{{agend?.description}}</td>
                <td>
					<ul>
						<li><a [routerLink]="['/agenda-edit']" [queryParams]="{ItemId: agend.itemId}">Edit</a></li>
						<li><button>Delete</button></li>
					</ul>
				</td>
               
            </tr>
        </ng-template>
</p-table>
