<div class="row">
    <div class="col-lg-6">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Campaign Form</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">Sample Form with the Icons</h4>
                <h6 class="card-subtitle">made with bootstrap elements</h6>

                <form class="form p-t-20" novalidate *ngIf="this.campaign" (ngSubmit)="save()" [formGroup]="campaignEditForm">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input class="form-control" id="title" type="text" formControlName="title" placeholder="title" value="{{this.campaign?.title}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="media">Media</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <textarea cols="50" rows="10" class="form-control" formControlName="media" Id="media" placeholder="Media" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="medium">Medium of Propagation </label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="mediumofPropagation" placeholder="Medium" type="text" formControlName="mediumofPropagation" value="{{this.campaign?.mediumofPropagation}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="agenda">Agenda</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <!-- <input class="form-control" id="agenda" placeholder="Agenda" formControlName="agenda" type="text"> -->
							<select class="form-control" id="agendaId" placeholder="Agenda" formControlName="agendaId" [compareWith]="setSelectedAgenda" >
							
								<option *ngFor="let agm of agendas" [ngValue]="agm.itemId"> {{agm.description}}</option>
							</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="forum">Forum</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input class="form-control" id="forum" formControlName="forum" placeholder="Forum" type="text" value="{{this.campaign?.forum}}">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                      
                </form>
                
            </div>
        </div>
        </div>
    </div>
